body {
    background-image: url("images/background4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.navigation-ul {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    vertical-align: top;
}

a {
    font-size: 20px;
    color:white;
    transition-duration: 0.7s;
    font-family: "BPG Banner Caps", sans-serif;
}

a:hover {
    color:rgb(187, 144, 52);
    font-size: 25px;
}

.qalis {
    color: rgb(196, 189, 189);
}

.line {
    width: 100%;
    height: 1px;
    background-color: white;
}

.boxes {
    background-image: url("images/background5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    flex-wrap: wrap;
   
    margin-top: 50px;
    border-radius: 30px;
}

.box {
    display: flex;
}

.image {
    width: 500px;
    height: 500px;
    margin-left: 200px;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top:50px;
}

.info {
    margin-left: 200px;
    margin-top: 50px;
}

h2 {
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
}

h3 {
    margin-top: 50px;
    text-align:center;
    font-size: 25px;
    font-family: 'Francois One', sans-serif
}

.line2 {
    width: 100%;
    height: 3px;
    background-color: rgb(80, 75, 75);
    margin-top: 20px;
}


p {
    margin-top: 50px;
    text-align: center;
    font-family: "BPG Phone Sans Bold", sans-serif;
}


h4 {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.open {
    margin-top: 200px;
}

.naxva {
    color: black;
    font-size: 30px;
}

.naxva:hover {
    color:rgb(255, 250, 250);
    border:2px solid black;
    padding: 5px;
    border-radius: 20px;
    background-color: black;
}

.section2 {
    border-top: 1px solid white;
    background-color:rgba(0, 0, 0, 0.39);
    width: 100%;
    height:150px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pay {
    width: 120px;
    height: 80px;
}

.overlay {
    position: absolute;
    width: 500px;
    height: 500px;
    opacity: 0;
}

.container {
    position: relative;
}
  
.image {
    display: block;
}

.container:hover .overlay:hover{
    opacity: 1;
}
@media (max-width:1024px){
    h1{
        font-size: 30px;
    }
    .info{
        margin-left: 40px;
        
    }
    .image{
        margin-left: 0px;
    }
    .navigation-ul{
        flex-direction: column;
        align-items: center;
    }
    .navigation-li {
        margin: 10px 0;
    }
}
@media (max-width:768px){
    
    .box{
        position: relative
    }
    .image {
        position: absolute;
        z-index: 2;
        width: 450px;
        height: 450px;
    }
    
        .info {
            line-height: 15px;
            position: absolute;
            z-index: 5;
            right: 74px;
        
}
    
    .info h2 {
            font-size: 26px;
            text-align: center;
            line-height: 20px;
        }
    
    
  .overlay{
      display: none;
  }
  .open {
    margin-top: 200px;
    position: absolute;
    z-index: 3;
    top: 200px;
    left: 287px;
}
}
@media(max-width:375px){
    .boxes {
        background-image:none; 
        height: 500px;
        flex-wrap: wrap;
        margin-top: 50px;
        border-radius: 30px;
}
.box{
    flex-direction: column;
}
.image {
        width: 350px;
        height: 350px;
        margin-left: 11px;
       border-radius: 20px;
       border: 2px solid gold;
}
.open{
    color: #fff;
    left: 142px;
}
.naxva{
    color: #fff;
    font-size: 30px;
}
.info h2,h3{
    display: none;
}
.line2 {
    width: 90%;
    height: 3px;
    background-color: rgb(223, 216, 216);
    margin-top: 20px;
    text-align: center;
}
.texture p{
    display: none;
}
.section2{
    display: none;
}
}